body {
    background-image: url(../assets/RestaurantMockupFiles/assets/bgtexture.jpg);
    display: flex;
    justify-content: center;
}
.containerBody-fluid{
    border: 2px solid black;
    width: 90%;
}
/* Text Settings Start*/
.menuHead {
    color: #5f002b;
    font-family: 'Fugaz';
    margin-top: 4%;
}

.menuSub {
    color: #5f002b;
    font-size: 11px;
    font-family: 'MontaukLight';
}


.cBgk {
    padding-right: 0px  !important;
    padding-left: 0px  !important;
}


    .padTest{
        /* padding-bottom: 81px; */
        height: 100%;
    }


.menuPrice {
    color: #5f002b;
    font-family: 'MontaukLight';
}

hr {
    color: #5f002b;
}

.containerMH-fluid h1{
    font-family: 'Fugaz';
    color: #5f002b;
}

.ourCSH{
    font-family: 'Fugaz';
    color: #5f002b;
}
.ourCSP{
    font-family: 'MontaukLight';
    color: #5f002b;
}



/* Fonts Start */
@font-face {
    font-family: 'Montauk';
    src: url('/fonts/Montauk-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'MontaukLight';
    src: url('/fonts/Montauk-Light.otf') format('opentype');
}
@font-face {
    font-family: 'Fugaz';
    src: url('/fonts/FugazOne-Regular.ttf') format('truetype');
}







/* Fonts End */
/* Row Spacing Start */
.spaceV {
    margin-bottom: 2%;
}
.spaceV2 {
    margin-bottom: 5%;
}
/* Row Spacing End */

/* Text Settings End */



/* Cater 3 Images Start */
.picImportantR {
    padding-right: 3px  !important;
    
}

.picImportantL {
    padding-left: 3px  !important;
    
}
/* Cater 3 Images End */




/* Navbar Start */
.navbar{
    width: 90%;
    margin: 0 auto;
}

.navbar-nav li a{
    font-family: 'Fugaz', sans-serif;
    color:#5f002b;
}

.navbar{
    padding-bottom: 25px;
}
/* Navbar End */

/* Footer start */
.footBox{
    padding: 0px !important;
}

.left{
    font-family: 'Montauk', sans-serif;
    color:#5f002b;
    padding: 0px !important;
}

.right{
    font-family: 'Montauk', sans-serif;
    color: #5f002b;
    padding: 0px !important;
    text-align: right;
}

.right img {
    padding-bottom: 10px;
}

.flexMe{
    width: 100%;
    display: inline-flex;
    flex-wrap: nowrap;
    margin: 0 auto;

}
/* Footer end */




/* Container Card Start */

/* Container Card End */

.rowImg1 {
    background-image: url(../assets/RestaurantMockupFiles/assets/menubeef.jpg);
    padding-top: 15%;
    padding-bottom: 15%;
}

.rowImg2 {
    background-image: url(../assets/RestaurantMockupFiles/assets/menuseafood.jpg);
    padding-top: 15%;
    padding-bottom: 15%;
}

.rowImg3 {
    background-image: url(../assets/RestaurantMockupFiles/assets/menumeat.jpg);
    padding-top: 15%;
    padding-bottom: 15%;
}
.rowImg4 {
    background-image: url(../assets/RestaurantMockupFiles/assets/menudesserts.jpg);
    padding-top: 15%;
    padding-bottom: 15%;
}

.colMenuAlign{
    vertical-align: top;
    display: inline-block;
}

.containerFood-fluid{
    border: 2px solid blue;
    margin-bottom: 5%;
    width: 95%;
}


.rowSpace{
    display: flex;
    justify-content: center;
}

/* Cater Page Start */






.containerCater-fluid {
    border: 2px solid pink;
    display: flex;
    justify-content: center;
}

/* Cater Hero */


.caterHero{
    margin-bottom: 5%;
}



/* Cater Hero End */



.CaterImage {
    background-image: url(../assets/RestaurantMockupFiles/assets/cateringMaine.jpg);
    background-repeat: no-repeat;
    background-size: contain;
   
    border: 2px solid purple;
}

/* small >768 medium >992 */
/* Media Queries */
@media (max-width: 992px) {
    .imgHide {
      display: none;
    }
  }
  
/* Media Queries */

.caterTxt {
    font-size: 12px;
    
}


.containerMH-fluid {
    background-color: white;
    text-align: center;
    margin-bottom: 5%;
    
}

/* Cater Page End */

.testBD{
    border: 2px solid aqua;
}

.paddingTest {
   padding-left: 0%;
   padding-right: 0%;
}

.flexRight{
    display: flex;
    justify-content: right;
}

.bGWhite{
    background-color: white;
}



.imgCtr{
    width: 100%;
   
}

.txtFit {
    height: 100%;
}