body {
    background-image: url(../assets/RestaurantMockupFiles/assets/bgtexture.jpg);
    display: flex;
    justify-content: center;
}
.containerBody-fluid{
    border: 2px solid black;
    width: 85%;
}
/* Text Settings Start*/
.menuHead {
    color: #5f002b;
}

.menuSub {
    color: #5f002b;
    font-size: 10px;
}

.menuPrice {
    color: #5f002b;

}

hr {
    color: #5f002b;
}
/* Text Settings End */

/* Container Card Start */
.containerCard1-fluid{
    background-color: white;
    border: 2px solid red;
}
.containerCard2-fluid{
    
    background-color: white;
    border: 2px solid red;
}

.containerCard3-fluid{
    
    background-color: white;
    border: 2px solid red;
    margin-right: .5%;
    margin-top: 1%;
}
.containerCard4-fluid{
    
    background-color: white;
    border: 2px solid red;
    margin-left: .5%;
    margin-top: 1%;
}
/* Container Card End */

.rowImg1 {
    background-image: url(../assets/RestaurantMockupFiles/assets/menubeef.jpg);
    padding-top: 15%;
    padding-bottom: 15%;
}

.rowImg2 {
    background-image: url(../assets/RestaurantMockupFiles/assets/menuseafood.jpg);
    padding-top: 15%;
    padding-bottom: 15%;
}

.rowImg3 {
    background-image: url(../assets/RestaurantMockupFiles/assets/menumeat.jpg);
    padding-top: 15%;
    padding-bottom: 15%;
}
.rowImg4 {
    background-image: url(../assets/RestaurantMockupFiles/assets/menudesserts.jpg);
    padding-top: 15%;
    padding-bottom: 15%;
}

.colMenuAlign{
    vertical-align: top;
    display: inline-block;
}

.containerFood-fluid{
    border: 2px solid blue;
    margin-bottom: 5%;
    width: 95%;
}

.containerMenu-fluid{
    border: 2px solid orange;
    width: 95%;

}



.rowSpace{
    display: flex;
    justify-content: center;
}

/* Cater Page Start */






.containerCater-fluid {
    border: 2px solid pink;
    display: flex;
    justify-content: center;
}

/* Cater Hero */


.caterHero{
    margin-bottom: 5%;
}



/* Cater Hero End */



.CaterImage {
    background-image: url(../assets/RestaurantMockupFiles/assets/cateringMaine.jpg);
    background-repeat: no-repeat;
    background-size: contain;
   
    border: 2px solid purple;
}




.caterTxt {
    font-size: 10px;
    
}


.containerMH-fluid {
    border: 2px solid orange;
    background-color: white;
    text-align: center;
    margin-bottom: 5%;
}

/* Cater Page End */

.testBD{
    border: 2px solid aqua;
}

.paddingTest {
   padding-left: 0%;
   padding-right: 0%;
}

.flexRight{
    display: flex;
    justify-content: right;
}

.bGWhite{
    background-color: white;
}



.imgCtr{
    width: 100%;
   
}

.txtFit {
    height: 100%;
}