body {
    background-image: url('/assets/RestaurantMockupFiles/assets/bgtexture.jpg');
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Montauk';
    src: url('/fonts/Montauk-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'MontaukLight';
    src: url('/fonts/Montauk-Light.otf') format('opentype');
}
@font-face {
    font-family: 'Fugaz';
    src: url('/fonts/FugazOne-Regular.ttf') format('truetype');
}

.navBg {
    background-image: url('/assets/RestaurantMockupFiles/assets/bgtexture.jpg');
    padding: 0;
    max-width: 1920px;

}

.logoBrand {
    margin-top: 14px;
    max-width: 250px;
    max-height: 92px;
}

/* .navRow {
    max-width: 1920px;
    margin: 0;
    padding: 0;

} */

.navbar-collapse {
    margin: 0;
    float: right;
    margin-top: 45px;
    margin-bottom: 60px;
    margin-right: 140px;
}

.navStyle {
    margin: 0;
    padding: 0;
}

.navbar-brand {
    padding: 0;
    margin-left: 166px;
    margin-top: 14px;
    margin-right: 184px;
}

#navigation * {
    color: #5F002B;
    font-size: 20px;
    font-family: 'Fugaz';
    max-width: 1920px;
}

/* .row {
    margin: 0;
    padding: 0;
} */

.homeHeroImg {
    max-width: 1920px;
    max-height: 600px;
    background-size: contain;
    background-position: center center;
}

.bodyImgCont {
    margin-top: 100px;
}
.d-flex {
    padding: 0;
}

.homeImgCont {
    max-width: 882px;
    max-height: 449.5px;
}
.homeSingleImg {
    max-width: 882px;
    max-height: 500px;
    padding-right: 8px;
    /* float: right; */
    margin-left: 140px;
}
.firstpgTxtCont {
    padding-left: 8px;
    margin-right: 140px;
}

.firstpgTxt {
    background-color: white;
    max-width: 950px;
    max-height: 200px;
    /* margin-top: 100px; */
    /* margin-right: 140px; */
    padding: 0;

}

.firstpgHeadertxt {
    color: #5F002B;
    font-size: 50px;
    margin: 0;
    padding-left: 16px;
    font-family: 'Fugaz';
}

.firstpgPgtxt {
    color: #5F002B;
    font-size: 20px;
    margin: 0;
    max-width: 950px;
    /* padding: 16px; */
    font-family: 'Montauk';
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 0px;
}

.homeImageImg {
    max-width: 950px;
    max-height: 300px;
}

.footerTxt {
    font-size: 20px;
    margin-left: 140px;
    margin-top: 20px;
    font-family: 'Montauk';
    color: #5F002B;
}

.footerLogo {
    font-size: 20px;
    max-width: 100px;
    max-height: 31.6px;
    margin-right: 140px;
    margin-left: auto;
}

.copyrightTxt {
    font-size: 20px;
    margin-right: 140px;
    text-align: right;
    font-family: 'Montauk';
    color: #5F002B;
}