body {
    background-image: url('/assets/RestaurantMockupFiles/assets/bgtexture.jpg');
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Montauk';
    src: url('/fonts/Montauk-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'MontaukLight';
    src: url('/fonts/Montauk-Light.otf') format('opentype');
}
@font-face {
    font-family: 'Fugaz';
    src: url('/fonts/FugazOne-Regular.ttf') format('truetype');
}


.indBox{
    width: 90%;
    margin: 0 auto;
    padding: 60px 0px 0px 0px !important;
}

.indBox img{
    padding: 0 !important;
}

.fixPad {
    padding: 0 !important;
}

.bgText{
    background-color: white;
    color:#5F002B;
}

.bgText p{
    padding: 5px 15px 50px 15px;
    font-size: 25px;
}

.bgText h4{
    padding: 15px 0px 0px 20px;
}

.noBord img{
    border-radius: 0;
}


@media only screen and (min-width: 1441px) and (max-width: 1800px){
    .bgText p{
        font-size: medium;
        line-height: 1.1;
    }
}

@media only screen and (min-width: 1250px) and (max-width: 1440px){
    .bgText p{
        font-size: medium;
        line-height: normal;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1249px){
    .bgText p{
        font-size: 14px;
        line-height: normal;
    }
}

@media only screen and (max-width: 1024px){
    .bgText p{
        font-size: small;
        line-height: normal;
        padding-bottom: 15px !important;
    }
}

@media only screen and (max-width: 1024px){
    .bgText h4 {
        font-size: medium;
        padding-top: 10px;
    }
}
